* {
    box-sizing: border-box;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

a {
    cursor: pointer;
}

#app {
    min-height: 100%;
}
