$color-primary: #505A46;
$color-secondary: #FDF2EC;

// Grayscale
$color-black:         #2C2C2C;
$color-gray:          #6C6C6C;
$color-gray--medium:  #D7D7D7;
$color-gray--light:   #F7F7F7;
$color-white:         #FFFFFF;
